{% extends 'base_layout.html' %}

{% block content %}
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10  col-md-offset-1">
    {% for article in articles %}
    <div class="post-preview">
      <a href="{% url 'articles:detail' slug=article.slug %}">
        <img src="{{ article.thumb.url }}" alt="{{ article.title }}" title="{{ article.title }}" class="img-responsive blog-thumb"/>
        <h2 class="blog-title">{{ article.title }}</h2>
        <h3 class="blog-subtitle">{{ article.subtitle }}</h3>
      </a>
      <p class="blog-meta">Creado el {{ article.date|date:"D d M Y" }}</p>
      <hr>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
